@import "tailwindcss";

@theme {
  --color-brand-navy: #0F2441;
  --color-brand-orange: #FF9F43;
  --color-brand-orange-light: #F4B76F;
  --color-brand-bg-cream: #F9F6EF;
  --color-brand-bg-light: #FDFBF7;
  --color-brand-text: #443D38;
  --color-brand-red: #C0563F;
  --color-brand-grey: #545D6A;
  --color-brand-green: #539987;

  --font-display: var(--font-manrope), sans-serif;
  --font-body: var(--font-manrope), sans-serif;

  --shadow-soft: 0 4px 20px -2px rgba(15, 36, 65, 0.08);
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  @apply bg-brand-bg-light font-display text-brand-text antialiased selection:bg-brand-orange/30;
}